@model IEnumerable<WebApp.ViewModels.EstudanteViewModel.EstudanteVm>

@{
    ViewData["Title"] = "Index";
}
<style>
    a{
    text-decoration:none;
    color:  black;
    }
    .botaoDeletar{
    text-decoration: none;
    color: red;
    }
    a:link { text-decoration: none; }
    
    
    a:visited { text-decoration: none; }
    
    
    a:hover { text-decoration: none; }
    
    
    a:active { text-decoration: none; }
    

</style>

<h1>Index</h1>

<p>
    <a title="Novo cadastro" asp-action="Cadastrar"><i class="fa-solid fa-circle-plus"></i></a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Id)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Nome)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Sobrenome)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.DataNascimento)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Id)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Nome)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Sobrenome)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.DataNascimento)
            </td>
            <td style="display: inline-block">
                <a href="@Url.ActionLink("Cursos", "Estudante", new {id = item.Id})">
                    <i class="fa-solid fa-circle-exclamation"></i>
                </a>
                <a href="@Url.ActionLink("Editar", "Estudante", new {id = item.Id})">
                    <i class="fa-solid fa-pen-to-square"></i>
                </a>
                <a href="@Url.ActionLink("Contratos", "Estudante", new {id = item.Id})">
                    <i class="fa-solid fa-file-contract"></i>
                </a>
                <a class="botaoDeletar" href="#" onclick="verificarRemover(@item.Id)">
                    <i class="fa-solid fa-trash-can"></i>
                </a>
            </td>
        </tr>
}
    </tbody>
</table>

@section Scripts
{
    <script src="js/Estudantes/Index.js"></script>
}
