@model IEnumerable<WebApp.ViewModels.CursoViewModel.CursoVm>

@{
    ViewData["Title"] = "Index";
}
<style>
    a{
       text-decoration:none;
       color:  black;
       }
       .botaoDeletar{
       text-decoration: none;
       color: red;
       }
       a:link { text-decoration: none; }
       
       
       a:visited { text-decoration: none; }
       
       
       a:hover { text-decoration: none; }
       
       
       a:active { text-decoration: none; }
       
</style>
<h1>Index</h1>

<div class="card">
    <div class="card-body">
        <p>
                    <a title="Novo cadastro" asp-action="Cadastrar"><i class="fa-solid fa-circle-plus"></i></a>
                </p>
        <form>
            <div class="form-group">
                <label class="form-control" for="pag">Quantidade de elementos:</label>
                <input type="number" class="form-control" id="pag"/>
            </div>
            <div class="form-group">
                <label class="form-check-label" for="contratosGerados">Apenas com contratos gerados</label>
                <input type="checkbox" id="contratosGerados" class="form-check-input"/>
            </div>
            <div class="form-group">
                <a id="botaoFiltrar" href="#" class="btn btn-success">Filtrar</a>
            </div>
        </form>
    </div>
</div>

<table class="table table-striped table-bordered">
    <thead class="thead-dark">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Id)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Nome)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Descricao)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.DuracaoMeses)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.ValorTotal)
        </th>
        <th></th>
    </tr>
    </thead>
    <tbody>
    @foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Id)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Nome)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Descricao)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.DuracaoMeses)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ValorTotal)
            </td>
            <td>
                <a href="@Url.ActionLink("Editar", "Curso", new {id = item.Id})">
                    <i class="fa-solid fa-pen-to-square"></i>
                </a>
                <a href="@Url.ActionLink("Alunos", "Curso", new {id = item.Id})">
                    <i class="fa-solid fa-circle-exclamation"></i>
                </a>
                <a href="@Url.ActionLink("Contratos", "Curso", new {id = item.Id})">
                    <i class="fa-solid fa-file-contract"></i>
                </a>
                <a class="botaoDeletar" href="#" onclick="remover(@item.Id)">
                    <i class="fa-solid fa-trash-can"></i>
                </a>
            </td>
        </tr>
    }
    </tbody>
</table>

@section Scripts
{
    <script src="js/Cursos/Index.js"></script>
    <script>
      $("#botaoFiltrar").on("click", function (){
        let contratos = $("#contratosGerados").is(":checked");
        let pag = $("#pag").val();
        $("#botaoFiltrar").attr("href", window.location.origin + `/Curso?contratos=${contratos}&page=${pag}`); 
        });
    </script>
}
